venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.idea/
.vscode/
*.bak
main_backup_*.py
patch_*.py
crear_*.py
fix_*.py
add_*.py
quitar_*.py
actualizar_*.py
test_*.py
ver_*.py
migrar_*.py
reset_*.py
